.content-page{
    background-color: #F07F16;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.content-cen{
    
}
.verh-tri-cen{
    align-items: center;
    justify-content: center;
}
.first-cen{
    background-color: #FFCC6A;
    width: 900px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
    display: flex;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.26);
}
.second-cen{
    background-color: #FFCC6A;
    width: 900px;
    height: 300px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.26);
}
.third-cen{
    background-color: #FFCC6A;
    width: 900px;
    height: 300px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.26);
}
.new-cen{
    background-color: #FFCC6A;
    width: 900px;
    height: 300px;
    margin-top: 80px;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.26);
}
.new-text-cen{
    margin-left: 40px;
    padding-top: 15px;
}
.genre-cen{
    background-color: #FFCC6A;
    width: 900px;
    height: 300px;
    margin-top: 40px;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.26);
}
.genre-text-cen{
    margin-left: 40px;
    padding-top: 15px;
}