@media (min-width: 1900px) {
    .header-line{
    background-color: #F8A80D;
    height:20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    }
    .elements-header{
        display: flex;
    }
    .logo-he{
        width: 115px;
        height: 73px;
        margin-left: 13%;
        margin-top: 10px;
    }
    .knigi-he{
        margin-left: 8%;
    }
    .ludi-he{
        margin-left: 3%;
    }
    .obmeni-he{
        margin-left: 3%;
    }
    .stroka-search-he{
        margin-left: 15%;
        margin-top: 23px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
        height: 40px;
        width: 310px;
        border-radius: 20px;
        font-size: large;
    }
    .notifications-he{
        width: 10%;
        height: auto;
        margin-left: 5%;
        margin-top: 15px;
    }
    .logo-img-samo{
        width: 30%;
        height: auto;
    }
    .vhod-but-he{
        color: black;
        background-color: #ff8615;
        height: 55px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 15px;
    }
    .vhod-but-he :hover{
        color: black;
        background-color: #ff8615;
        height: 55px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 18px;
    }
}