@media (min-width: 1900px) {
    .header-line{
    background-color: #F8A80D;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
    }
    .elements-header{
        display: flex;
    }
    .logo-he-samo{
        width: 105px;
        height: 103px;
        margin-left: 230px;
        margin-top: 0px;
    }
    .knigi-he{
        margin-left: 8%;
    }
    .ludi-he{
        margin-left: 3%;
    }
    .obmeni-he{
        margin-left: 3%;
    }
    .stroka-search-he{
        margin-left: 15%;
        margin-top: 23px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
        height: 40px;
        width: 310px;
        border-radius: 20px;
        font-size: large;
    }
    .notifications-he{
        width: 10%;
        height: auto;
        margin-left: 5%;
        margin-top: 15px;
    }
    .logo-he-img-samo{
        width: 30%;
        height: auto;
    }
    .vhod-but-he{
        color: black;
        background-color: #ff8615;
        height: 55px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 15px;
    }
    .vhod-but-he :hover{
        color: black;
        background-color: #db7210;
        height: 55px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 18px;
    }
}
@media (max-width: 430px) {
    .header-line{
        background-color: #F8A80D;
        height: 90px;
        width: 100%;
        justify-content: center;
        align-items: center;
        }
        .elements-header{
            display: flex;
        }
        .logo-he-samo{
            width: 105px;
            height: 103px;
            margin-left: 500px;
            margin-top: 0px;
        }
        .knigi-he{
            margin-left: 1%;
            font-size: 13px;
            margin-top: 10px;
        }
        .ludi-he{
            margin-left: 2%;
            font-size: 13px;
            margin-top: 10px;
        }
        .obmeni-he{
            margin-left: 2%;
            font-size: 13px;
            margin-top: 10px;
        }
        .stroka-search-he{
            margin-left: 15%;
            margin-top: 23px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: white;
            height: 40px;
            width: 310px;
            border-radius: 20px;
            font-size: large;
        }
        .notifications-he{
            width: 10%;
            height: auto;
            margin-left: 5%;
            margin-top: 15px;
        }
        .logo-he-img-samo{
            width: 30%;
            height: auto;
        }
        .vhod-but-he{
            color: black;
            background-color: #ff8615;
            height: 55px;
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            margin-top: 15px;
        }
        .vhod-but-he :hover{
            color: black;
            background-color: #db7210;
            height: 55px;
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            margin-top: 18px;
        }
}