.register{
    background-color: #F8A80D;
    height: 802px;
    width: 1920px;
    padding-top: 8%;
    padding-bottom: auto;
}
.okno-reg{
    background-color: #F07F16;
    height: 80%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
.regis-text{
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}
.phone{
    margin-left: 15%;
}
.phone-ukaz{
    border-radius: 20px;
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    margin-top: -20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}
.FIO{
    margin-left: 15%;
    margin-top: -10px;
}
.FIO-ukaz{
    border-radius: 20px;
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    margin-top: -20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}
.city{
    margin-left: 15%;
    margin-top: -10px;
}
.city-ukaz{
    border-radius: 20px;
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    margin-top: -20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}
.password{
    margin-left: 15%;
    margin-top: -10px;
}
.password-ukaz{
    border-radius: 20px;
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    margin-top: -20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}
.class123{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-button{
    margin-top: 9%;
    text-decoration: none;
    background-color: #FFCC6A;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}
.reg-button:hover{
    margin-top: 8%;
    text-decoration: none;
    background-color: #f0be62;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
}